@model Tech_Talks_MVC.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speaker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speaker.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discussion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discussion.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduledTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduledTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
